[submodule "pico-fido"]
	path = pico-fido
	url = https://github.com/librekeys/pico-fido.git
[submodule "pico-openpgp"]
	path = pico-openpgp
	url = https://github.com/librekeys/pico-openpgp.git
[submodule "pico-keys-sdk"]
	path = pico-keys-sdk
	url = https://github.com/librekeys/pico-keys-sdk.git
